<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>DaamduuQR</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>DaamduuQR</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>NSCameraUsageDescription</key>
		<string>This app needs camera access to scan QR codes</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app needs user location for recomandations</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>location</string>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>NSUserTrackingUsageDescription</key>
		<string>for push notifications</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app needs photos access to get QR code from photo library</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>tel</string>
			<string>mailto</string>
			<string>http</string>
			<string>https</string>
		</array>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>NSAppleIDUsageDescription</key>
		<string>For Apple ID signing</string>
		<!-- Google Sign-in Section -->
		<key>GIDClientID</key>
		<!-- TODO Replace this value: -->
		<!-- Copied from GoogleService-Info.plist key CLIENT_ID -->
		<string>192297844009-fem0r4dmas3plu44lpgoj5r545nqjibe.apps.googleusercontent.com</string>
		<!-- Google Sign-in Section -->
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<!-- TODO Replace this value: -->
					<!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
					<string>com.googleusercontent.apps.192297844009-fem0r4dmas3plu44lpgoj5r545nqjibe</string>
				</array>
			</dict>
		</array>
	</dict>
</plist>
